
body {
  background-color: rgb(247 255 133);
  background-blend-mode: screen;
  text-align: center;
}

ol { 
  list-style-position: inside;
  text-align: left;
}

table { 
  margin: auto;
}

input[type="number"] {
  text-align: center;
}

td { 
  padding: 4px;
}

.hint { 
  color: gray;
}

.hidden { 
  display: none;
}