
body {
  /* background-color: rgb(247 255 133); */
  background-image: url('https://st2.depositphotos.com/4681751/6993/v/450/depositphotos_69937611-stock-illustration-yellow-lined-paper.jpg');
  background-blend-mode: screen;
  text-align: center;
}

ol { 
  list-style-position: inside;
  text-align: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button { 
  margin: 6px;
}

table { 
  margin: auto;
}

input[type="number"] {
  text-align: center;
}

td { 
  padding: 4px;
}

.hint { 
  color: gray;
}

input { 
  margin: 0px 4px;
}

.hidden { 
  display: none;
}

.caps { 
  font: small-caps;
  text-align: center;
}